<!DOCTYPE html>
<html>
  <head>
    <title>Image Gallery</title>
  </head>
  <body>
    <h1>Image Gallery</h1>
    <table>
      <thead>
        <tr>
          <th>Image</th>
        </tr>
      </thead>
      <tbody>
        {% for image_file in image_files %}
        <tr>
          <td>
            <img
              src="{{ url_for('static', filename='temp/puzzle/' + image_file) }}"
              alt="{{ image_file }}"
            />
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
